body {
    margin: 0 auto;
    display: block;
    width: 90%;
}
section div table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.form-popup {
    display: none;
    bottom: 0;
    right: 15px;
    border: 3px solid #da0b0b;
    width: 400px;
    margin-left: 30%;
  }